
.card { // attached to .card created in function CardCreator();
    background-color: ghostwhite;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 20%;
}


.card-img {
        border-radius: 5px;
}